.container-main {

  position: relative;
  display: inline-block;
  transition: 0.25s;
}

.container-main:hover {
  top: 0;
  left: 0;
  box-shadow: 10px 10px 5px black;
  background: rgba(133, 133, 155, 0.7);
}

#todoslivros{
          display: flex;
          justify-content: center;
          margin-bottom: 100px;
}
          .custom-bg {
    background-color: #007A7C;
  }

#navigation{
    display: flex;
    justify-content: center;
  }


  
  #linha{
          
    height: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    width: 500px;
    border-bottom: solid 1px black;
  }

.formulario{
  width:50%;
  display: inline-block;
  border: solid lightgray 1px;
  border-radius: 10px;
  position: absolute;
  padding: 20px 50px 20px 50px;
  top: 25%;
  left: 25%;
}