

#barras{
  font-size: 38px;
  color: white;
}
.custom-bg{
  background-color: #007A7C;
}
.sidebar{
   
  margin: auto;
  padding: 0px 15px 0px 0px;
  display: inline-block;
  border: solid 1px lightgray;
  border-radius: 4px;
}
#sidebar{
  background-color: #009699;
  margin-top: 100px;
  margin-bottom: 200px;
}
.cor{
  color: white;
  
  
}
.cor1{
  
  display: flex;
  color: aliceblue;
  font-size: 20px;
  margin: 0px 20px;
}

#titulo1{
  
  padding-left: 0.5rem;
  padding-right: 0.5rem;

}

.semDecoNoText{
  text-decoration: none;
}

a {
  text-decoration: none; /* Remove o sublinhado dos links */
}
.cor1:hover{
  color: #f0f8ff;
  text-decoration: none;
}

.container-main {

  position: relative;
  display: inline-block;
  transition: 0.25s;
}

.container-main:hover {
  top: 0;
  left: 0;
  box-shadow: 10px 10px 5px black;
  background: rgba(133, 133, 155, 0.7);
}

#todoslivros{
          display: flex;
          justify-content: center;
          margin-bottom: 100px;
}
          .custom-bg {
    background-color: #007A7C;
  }

#navigation{
    display: flex;
    justify-content: center;
  }


  
  #linha{
          
    height: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    width: 500px;
    border-bottom: solid 1px black;
  }

.formulario{
  width:50%;
  display: inline-block;
  border: solid lightgray 1px;
  border-radius: 10px;
  position: absolute;
  padding: 20px 50px 20px 50px;
  top: 25%;
  left: 25%;
}
#foto{
  margin-top: 3px;
  margin-left: 5px;
}

@media (max-width: 575.98px) {
  .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: -250px; /* Esconde a barra lateral por padrão */
      width: 250px;
      background-color: #f8f9fa;
      padding: 20px;
      transition: left 0.3s ease; /* Adiciona uma transição suave para a animação */
  }
  .sidebar.show {
      left: 0; /* Mostra a barra lateral quando a classe .show é adicionada */
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -250px; /* Esconde a barra lateral por padrão */
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  transition: left 0.3s ease; /* Adiciona uma transição suave para a animação */
}

.sidebar.show {
  left: 0; /* Mostra a barra lateral quando a classe .show é adicionada */
}

.main-content {
  margin-left: 0; /* Define uma margem padrão do lado esquerdo */
  transition: margin-left 0.3s ease; /* Adiciona uma transição suave para a animação */
}

.main-content.shifted {
  margin-left: 250px; /* Move o conteúdo principal para a direita para acomodar a barra lateral */
}